<nav class="navbar navbar-expand-md align-self-center mynav">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
      <img style="width: 105px; margin-left:50px;" src="../../assets/images/logo.png" alt="">
  </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="bellprite bellie"></i>
              </a>
          </li>
          <li class="divider-vertical"></li>
          <li class="nav-item">
              <div class="dropdown">
                  <button type="button" #profile_drop class="btn btn-transparent"  (click)="showDropdown()">
                      <img src="https://randomuser.me/api/portraits/women/65.jpg" class="avatar rounded-circle"
                          alt="Cinque Terre">
                      <span class="profile-name">Wilma Roth</span>
                      <span class="downie downprite"></span>
                  </button>

                  <div [ngClass]="dropDown ? 'dropdown-menu p-4 show': 'dropdown-menu p-4'" style="border-radius: 1px;" id="maindropdown">
                    <div [ngStyle]="{'display' : !changePassword ? 'block' : 'none'}">
                      <div class="row border-bottom dropdown-items">
                          <div class="col-sm-2">
                              <i class="fa fa-user" aria-hidden="true"></i>
                          </div>
                          <div class="col-sm-6">
                              Account
                          </div>
                          <div class="col-sm-4">
                          </div>
                      </div>
                      <div class="row border-bottom dropdown-items">
                          <div class="col-sm-2">
                              <i class="fa fa-cog" aria-hidden="true"></i>
                          </div>
                          <div class="col-sm-6">
                              Settings
                          </div>
                          <div class="col-sm-4">
                          </div>
                      </div>
                      <div class="row border-bottom dropdown-items">
                          <div class="col-sm-2">
                              <i class="fa fa-sign-out"></i>
                          </div>
                          <div class="col-sm-6" (click)="logout()">
                              Logout
                          </div>
                          <div class="col-sm-4" alig="right">
                              Wilma
                          </div>
                      </div>
                      <div class="row  change-password">
                          <div class="col-sm-1">
                          </div>
                          <div class="col-sm-10" align="center">
                              <a (click)="clickEvent()"> Change Password</a>
                          </div>
                          <div class="col-sm-1">
                          </div>
                      </div>
                      <div class="row  change-password">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10" align="center">
                            <a (click)="clickOpt()"> Opt </a>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                  </div>
                      <div id="changepasswordid" [ngStyle]="{'display' : changePassword ? 'block' : 'none'}">
                          <!-- <a href="#"> -->
                              <span style="cursor: pointer;" (click)="clickEvent()">Back</span>
                            <!-- </a> -->
                          <form [formGroup]="changePasswordForm"  class="form-signin " (ngSubmit)="onSubmit()">
                          <div class="row" style="    padding: 10px;">
                              <div class="col-sm" align="center">
                                  <h5>Change Password</h5>
                              </div>
                              <!-- <div class="input-container form-group"> -->
                                  <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                                  <!-- <span class="pass-png"><img src="../../assets/images/password.png"></span>
                                  <input class="input-field password-input form-control" type="text" placeholder="Old password"
                                      name="Phone">
                              </div> -->
                              <div class="input-container form-group">
                                  <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                                  <span class="pass-png"><img src="../../assets/images/password.png"></span>
                                  <input formControlName="new_pwd" class="input-field password-input form-control" type="password" placeholder="New Password">
                              </div>
                              <div *ngIf="submitted && p.new_pwd.errors" class="invalid-feedbacks">
                                <span *ngIf="p.new_pwd.errors.required">Password is required</span>
                                <span *ngIf="p.new_pwd.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase. </span>
                              </div>
                              <div class="input-container form-group" style="margin-bottom:20px">
                                  <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                                  <span class="pass-png"><img src="../../assets/images/password.png"></span>
                                  <input formControlName="confirm_pwd" class="input-field password-input form-control" type="password" placeholder="Confirm Password">
                              </div>
                              <div *ngIf="submitted && !this.confirmMatch" class="invalid-feedbacks">
                                <span>Confirm password not matched.</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm" align="center">
                                  <div class="text-center mb-3 form-group"><button type="submit" class="btn btn-login" style="width:100%">SUBMIT</button></div>
                              </div>
                              <div class="col-sm" align="center">
                                  <div class="text-center mb-3"><button type="submit" class="btn btn-login" style="width:100%">RESET</button></div>
                              </div>
                          </div>
                        </form>
                      </div>
                      <div id="changepasswordid" [ngStyle]="{'display' : opt ? 'block' : 'none'}">
                          <label><input type="radio"   name="type" (click)="otpChange('verify')"> Verify otp</label><br />
                          <label><input type="radio"   name="type" (click)="otpChange('send')"> Send otp</label>

                        <form [formGroup]="otpForm"  class="form-signin " (ngSubmit)="onSubmitOtp()" [ngStyle]="{'display' : otpType ? 'block' : 'none'}">
                            <div class="checkbox add-class-forgot-pass">

                              </div>
                        <div class="row" style="    padding: 10px;" >
                            <div class="col-sm" align="center">
                                <!-- <h5>Otp</h5> -->
                            </div>
                            <!-- <div class="input-container form-group"> -->
                                <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                                <!-- <span class="pass-png"><img src="../../assets/images/password.png"></span>
                                <input class="input-field password-input form-control" type="text" placeholder="Old password"
                                    name="Phone">
                            </div> -->
                            <div class="input-container form-group">
                                <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                                <!-- <span class="pass-png"><img src="../../assets/images/password.png"></span> -->
                              <input formControlName="mobile" class="input-field password-input form-control" type="number" placeholder="Mobile No">

                            </div>
                            <!-- <div *ngIf="submitted && p.new_pwd.errors" class="invalid-feedbacks">
                              <span *ngIf="p.new_pwd.errors.required">Password is required</span>
                              <span *ngIf="p.new_pwd.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase. </span>
                            </div> -->
                            <div class="input-container form-group" [ngStyle]="{'display' : otpType == 'verify' ? 'block' : 'none'}">
                              <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
                              <!-- <span class="pass-png"><img src="../../assets/images/password.png"></span> -->
                              <input formControlName="otp" class="input-field password-input form-control" type="number" placeholder="Otp No" style="width: 230px">
                          </div>
                            <!-- <div *ngIf="submitted && !this.confirmMatch" class="invalid-feedbacks">
                              <span>Confirm password not matched.</span>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm" align="center">
                                <div class="text-center mb-3 form-group"><button type="submit" class="btn btn-login" style="width:100%">Submit</button></div>
                            </div>
                            <!-- <div class="col-sm" align="center">
                                <div class="text-center mb-3"><button type="submit" class="btn btn-login" style="width:100%">Send</button></div>
                            </div> -->
                        </div>
                      </form>
                    </div>

                  </div>
              </div>
          </li>
      </ul>
  </div>
</nav>
<header>
  <!-- End Navbar -->
</header>
