.mynav {
  background-color: white;
}

.navbar .divider-vertical {
  height: auto;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.btn-transparent {
  background: transparent;
}

.avatar {
  width: 30px;
  margin-right: 5px;
}

.dropdown-toggle:hover {
  color: #0c0c0c;
}

.navbar-toggler {
  background-color: #a8a8a8;
}

/* Remove button glow */

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.bellprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.bellie {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -120px -30px;
}


.dropdown-menu.show {
  width: 300px;
}

.dropdown-menu {
  left: 100px;
  padding: 25px;
}

.logout-user {
  float: right;
}

.settingssprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.settingsie {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -220px -195px;
}

.logoutsprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.logoutie {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -220px -235px;
}

.downprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.downie {
  width: 50px;
  height: 30px;
  display: inline-block;
  background-position: -117px -87px;
}

.youraccountie {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: -120px -70px;
}

.youraccountsprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.updateSprite {
  background: url('../../assets/images/submit-update-save-button.png') no-repeat;
}

.change-password {
  padding: 5px;
  cursor: pointer;
}

