<!-- START SIDEBAR-->
<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <div class="admin-block d-flex">
            <div class="admin-info">
                <div class="font-strong"></div>
            </div>
        </div>
        <ul class="side-menu metismenu">
                <li>
                    <a class="active" routerLink="/admin" routerLinkActive="active">
                        <span class="nav-label">ADMIN CONSOLE</span></a>
                </li>
                <li>
                    <a href="">
                        <span class="nav-label">INSTITUTION</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse in">
                        <li>
                            <a href=""><img src="/assets/images/kindergarten.png">
                                <span class="nav-label"> PlaySchool</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/play-school/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/play-school/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/play-school/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><img src="/assets/images/school.png">
                                <span class="nav-label"> Schools</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/school/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/school/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/school/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><img src="/assets/images/college.png">
                                <span class="nav-label"> College</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/college/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/college/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/college/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><img src="/assets/images/uni.png">
                                <span class="nav-label"> Universities</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/universities/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/universities/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/universities/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><img src="/assets/images/sportsacademy.png">
                                <span class="nav-label"> Sport-Academy</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/sport-academy/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/sport-academy/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/sport-academy/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><img src="/assets/images/extra.png">
                                <span class="nav-label"> Extra-Curricular<br>Activities/Art</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="left-level nav-3-level collapse">
                                <li>
                                    <a href="/admin/extra/institution">Institution Details</a>
                                </li>
                                <li>
                                    <a href="/admin/extra/facilities">Facilities Available</a>
                                </li>
                                <li>
                                    <a href="/admin/extra/bank">Bank Details</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/admin-bank">
                        <span class="nav-label">BANK</span></a>
                </li>
                <li>
                    <a href="/admin/parent">
                        <span class="nav-label">PARENT(Savings & Loan)</span></a>
                </li>
                <li>
                    <a href="/admin/roles">
                        <span class="nav-label">ROLES/AUTHORIZATION</span></a>
                </li>
                <li>
                    <a href="/admin/policies">
                        <span class="nav-label">AUTHORIZATION POLICIES</span></a>
                </li>
                <li>
                    <a href="/admin/configuration">
                        <span class="nav-label">CONFIGURATION</span></a>
                </li>
        </ul>
    </div>
</nav>
<!-- END SIDEBAR-->