<div class="page-wrapper">
  <app-admin-header></app-admin-header>
  <app-admin-sidebar></app-admin-sidebar>
  <div class="content-wrapper">
      <!-- START PAGE CONTENT-->
      <div class="page-content fade-in-up">
          <div class="row">
              <div class="col-lg-12">
                  <img src="/assets/images/university.png" />
              </div>
          </div>
          <div class="page-content fade-in-up">
              <div class="ibox col-lg-12">
                  <div class="ibox-head">
                      <div class="ibox-title">Facilities Available</div>
                  </div>
                  <div class="ibox-body">
                      <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Position</th>
                                  <th>Office</th>
                                  <th>Age</th>
                                  <th>Start date</th>
                                  <th>Salary</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th>Name</th>
                                  <th>Position</th>
                                  <th>Office</th>
                                  <th>Age</th>
                                  <th>Start date</th>
                                  <th>Salary</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr>
                                  <td>Yuri Berry</td>
                                  <td>Chief Marketing Officer (CMO)</td>
                                  <td>New York</td>
                                  <td>40</td>
                                  <td>2009/06/25</td>
                                  <td>$675,000</td>
                              </tr>
                              <tr>
                                  <td>Caesar Vance</td>
                                  <td>Pre-Sales Support</td>
                                  <td>New York</td>
                                  <td>21</td>
                                  <td>2011/12/12</td>
                                  <td>$106,450</td>
                              </tr>
                              <tr>
                                  <td>Doris Wilder</td>
                                  <td>Sales Assistant</td>
                                  <td>Sidney</td>
                                  <td>23</td>
                                  <td>2010/09/20</td>
                                  <td>$85,600</td>
                              </tr>
                              <tr>
                                  <td>Angelica Ramos</td>
                                  <td>Chief Executive Officer (CEO)</td>
                                  <td>London</td>
                                  <td>47</td>
                                  <td>2009/10/09</td>
                                  <td>$1,200,000</td>
                              </tr>
                              <tr>
                                  <td>Gavin Joyce</td>
                                  <td>Developer</td>
                                  <td>Edinburgh</td>
                                  <td>42</td>
                                  <td>2010/12/22</td>
                                  <td>$92,575</td>
                              </tr>
                              <tr>
                                  <td>Jennifer Chang</td>
                                  <td>Regional Director</td>
                                  <td>Singapore</td>
                                  <td>28</td>
                                  <td>2010/11/14</td>
                                  <td>$357,650</td>
                              </tr>
                              <tr>
                                  <td>Brenden Wagner</td>
                                  <td>Software Engineer</td>
                                  <td>San Francisco</td>
                                  <td>28</td>
                                  <td>2011/06/07</td>
                                  <td>$206,850</td>
                              </tr>
                              <tr>
                                  <td>Fiona Green</td>
                                  <td>Chief Operating Officer (COO)</td>
                                  <td>San Francisco</td>
                                  <td>48</td>
                                  <td>2010/03/11</td>
                                  <td>$850,000</td>
                              </tr>
                              <tr>
                                  <td>Shou Itou</td>
                                  <td>Regional Marketing</td>
                                  <td>Tokyo</td>
                                  <td>20</td>
                                  <td>2011/08/14</td>
                                  <td>$163,000</td>
                              </tr>
                              <tr>
                                  <td>Michelle House</td>
                                  <td>Integration Specialist</td>
                                  <td>Sidney</td>
                                  <td>37</td>
                                  <td>2011/06/02</td>
                                  <td>$95,400</td>
                              </tr>
                              <tr>
                                  <td>Suki Burks</td>
                                  <td>Developer</td>
                                  <td>London</td>
                                  <td>53</td>
                                  <td>2009/10/22</td>
                                  <td>$114,500</td>
                              </tr>
                              <tr>
                                  <td>Prescott Bartlett</td>
                                  <td>Technical Author</td>
                                  <td>London</td>
                                  <td>27</td>
                                  <td>2011/05/07</td>
                                  <td>$145,000</td>
                              </tr>
                              <tr>
                                  <td>Gavin Cortez</td>
                                  <td>Team Leader</td>
                                  <td>San Francisco</td>
                                  <td>22</td>
                                  <td>2008/10/26</td>
                                  <td>$235,500</td>
                              </tr>
                              <tr>
                                  <td>Martena Mccray</td>
                                  <td>Post-Sales support</td>
                                  <td>Edinburgh</td>
                                  <td>46</td>
                                  <td>2011/03/09</td>
                                  <td>$324,050</td>
                              </tr>
                              <tr>
                                  <td>Unity Butler</td>
                                  <td>Marketing Designer</td>
                                  <td>San Francisco</td>
                                  <td>47</td>
                                  <td>2009/12/09</td>
                                  <td>$85,675</td>
                              </tr>
                              <tr>
                                  <td>Howard Hatfield</td>
                                  <td>Office Manager</td>
                                  <td>San Francisco</td>
                                  <td>51</td>
                                  <td>2008/12/16</td>
                                  <td>$164,500</td>
                              </tr>
                              <tr>
                                  <td>Hope Fuentes</td>
                                  <td>Secretary</td>
                                  <td>San Francisco</td>
                                  <td>41</td>
                                  <td>2010/02/12</td>
                                  <td>$109,850</td>
                              </tr>
                              <tr>
                                  <td>Vivian Harrell</td>
                                  <td>Financial Controller</td>
                                  <td>San Francisco</td>
                                  <td>62</td>
                                  <td>2009/02/14</td>
                                  <td>$452,500</td>
                              </tr>
                              <tr>
                                  <td>Timothy Mooney</td>
                                  <td>Office Manager</td>
                                  <td>London</td>
                                  <td>37</td>
                                  <td>2008/12/11</td>
                                  <td>$136,200</td>
                              </tr>
                              <tr>
                                  <td>Jackson Bradshaw</td>
                                  <td>Director</td>
                                  <td>New York</td>
                                  <td>65</td>
                                  <td>2008/09/26</td>
                                  <td>$645,750</td>
                              </tr>
                              <tr>
                                  <td>Olivia Liang</td>
                                  <td>Support Engineer</td>
                                  <td>Singapore</td>
                                  <td>64</td>
                                  <td>2011/02/03</td>
                                  <td>$234,500</td>
                              </tr>
                              <tr>
                                  <td>Bruno Nash</td>
                                  <td>Software Engineer</td>
                                  <td>London</td>
                                  <td>38</td>
                                  <td>2011/05/03</td>
                                  <td>$163,500</td>
                              </tr>
                              <tr>
                                  <td>Sakura Yamamoto</td>
                                  <td>Support Engineer</td>
                                  <td>Tokyo</td>
                                  <td>37</td>
                                  <td>2009/08/19</td>
                                  <td>$139,575</td>
                              </tr>
                              <tr>
                                  <td>Thor Walton</td>
                                  <td>Developer</td>
                                  <td>New York</td>
                                  <td>61</td>
                                  <td>2013/08/11</td>
                                  <td>$98,540</td>
                              </tr>
                              <tr>
                                  <td>Finn Camacho</td>
                                  <td>Support Engineer</td>
                                  <td>San Francisco</td>
                                  <td>47</td>
                                  <td>2009/07/07</td>
                                  <td>$87,500</td>
                              </tr>
                              <tr>
                                  <td>Serge Baldwin</td>
                                  <td>Data Coordinator</td>
                                  <td>Singapore</td>
                                  <td>64</td>
                                  <td>2012/04/09</td>
                                  <td>$138,575</td>
                              </tr>
                              <tr>
                                  <td>Zenaida Frank</td>
                                  <td>Software Engineer</td>
                                  <td>New York</td>
                                  <td>63</td>
                                  <td>2010/01/04</td>
                                  <td>$125,250</td>
                              </tr>
                              <tr>
                                  <td>Zorita Serrano</td>
                                  <td>Software Engineer</td>
                                  <td>San Francisco</td>
                                  <td>56</td>
                                  <td>2012/06/01</td>
                                  <td>$115,000</td>
                              </tr>
                              <tr>
                                  <td>Jennifer Acosta</td>
                                  <td>Junior Javascript Developer</td>
                                  <td>Edinburgh</td>
                                  <td>43</td>
                                  <td>2013/02/01</td>
                                  <td>$75,650</td>
                              </tr>
                              <tr>
                                  <td>Cara Stevens</td>
                                  <td>Sales Assistant</td>
                                  <td>New York</td>
                                  <td>46</td>
                                  <td>2011/12/06</td>
                                  <td>$145,600</td>
                              </tr>
                              <tr>
                                  <td>Hermione Butler</td>
                                  <td>Regional Director</td>
                                  <td>London</td>
                                  <td>47</td>
                                  <td>2011/03/21</td>
                                  <td>$356,250</td>
                              </tr>
                              <tr>
                                  <td>Lael Greer</td>
                                  <td>Systems Administrator</td>
                                  <td>London</td>
                                  <td>21</td>
                                  <td>2009/02/27</td>
                                  <td>$103,500</td>
                              </tr>
                              <tr>
                                  <td>Jonas Alexander</td>
                                  <td>Developer</td>
                                  <td>San Francisco</td>
                                  <td>30</td>
                                  <td>2010/07/14</td>
                                  <td>$86,500</td>
                              </tr>
                              <tr>
                                  <td>Shad Decker</td>
                                  <td>Regional Director</td>
                                  <td>Edinburgh</td>
                                  <td>51</td>
                                  <td>2008/11/13</td>
                                  <td>$183,000</td>
                              </tr>
                              <tr>
                                  <td>Michael Bruce</td>
                                  <td>Javascript Developer</td>
                                  <td>Singapore</td>
                                  <td>29</td>
                                  <td>2011/06/27</td>
                                  <td>$183,000</td>
                              </tr>
                              <tr>
                                  <td>Donna Snider</td>
                                  <td>Customer Support</td>
                                  <td>New York</td>
                                  <td>27</td>
                                  <td>2011/01/25</td>
                                  <td>$112,000</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <br>
                  <div class="form-group row">


                      <div class="col-sm-4">
                          <button class="btn btn-success">Preview</button>
                      </div>
                      <div class="col-sm-4">
                          <button class="btn btn-info">Submit</button>
                      </div>
                      <div class="col-sm-4">
                          <button class="btn btn-warning">Edit</button>
                      </div>
                  </div>

              </div>
              <div>

              </div>
          </div>
          <!-- END PAGE CONTENT-->
          <!-- START PAGE CONTENT-->

      </div>

  </div>
</div>
<style>
  .left {
      float: left;
  }
  
  .btn-success {
      position: relative;
      font-size: 15px;
  }
  
  .btn-success {
      background: none;
      border: 1px solid #338033;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-success:focus {
      outline: none;
  }
  
  .btn-success:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-success:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-success:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-success:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-success:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .btn-info {
      position: relative;
      font-size: 15px;
  }
  
  .btn-info {
      background: none;
      border: 1px solid #23b7e5;
      color: #23b7e5;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-info:focus {
      outline: none;
  }
  
  .btn-info:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-info:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-info:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-info:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-info:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .btn-warning {
      position: relative;
      font-size: 15px;
  }
  
  .btn-warning {
      background: none;
      border: 1px solid #e08e0b;
      color: #e08e0b;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-warning:focus {
      outline: none;
  }
  
  .btn-warning:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-warning:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-warning:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-warning:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-warning:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .left-level {
      z-index: 99999;
      float: left !important;
      padding-left: 100% !important;
      margin-top: -53px !important;
      background: #FFC54E;
      line-height: 20px !important;
  }
  
  .visitors-table tbody tr td:last-child {
      display: flex;
      align-items: center;
  }
  
  .visitors-table .progress {
      flex: 1;
  }
  
  .visitors-table .progress-parcent {
      text-align: right;
      margin-left: 10px;
  }
</style>
<app-admin-footer></app-admin-footer>