<div class="page-wrapper">
  <app-admin-header></app-admin-header>
  <app-admin-sidebar></app-admin-sidebar>
  <div class="content-wrapper">
      <!-- START PAGE CONTENT-->
      <div class="page-content fade-in-up">
          <div class="row">
              <div class="col-lg-12">
                  <img src="/assets/images/university.png" />
              </div>
          </div>
          <br>
          <div class="page-content fade-in-up">
              <div class="ibox col-lg-6">
                  <div class="ibox-head">
                      <div class="ibox-title">Institution Details</div>

                  </div>
                  <div class="ibox-body">
                      <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                          <tbody>
                              <tr>
                                  <td>Bank Name</td>
                                  <td>Dummy Bank</td>

                              </tr>
                              <tr>
                                  <td>Bank Branch Code</td>
                                  <td>Dummy code</td>

                              </tr>
                              <tr>
                                  <td>Bank Branch Address</td>
                                  <td>Dummy Address</td>

                              </tr>
                              <tr>
                                  <td>Account Name</td>
                                  <td>Dummy Name</td>

                              </tr>
                              <tr>
                                  <td>Account Number</td>
                                  <td>12345644569</td>
                              </tr>
                              <tr>
                                  <td>Bank Ifsc Code</td>
                                  <td>abv12365</td>

                          </tbody>
                      </table>
                  </div>
                  <br>
                  <div class="form-group row">


                      <div class="col-sm-4">
                          <button class="btn btn-success">Preview</button>
                      </div>
                      <div class="col-sm-4">
                          <button class="btn btn-info">Submit</button>
                      </div>
                      <div class="col-sm-4">
                          <button class="btn btn-warning">Edit</button>
                      </div>
                  </div>

              </div>
              <div>

              </div>
          </div>
          <!-- END PAGE CONTENT-->
          <!-- START PAGE CONTENT-->
      </div>
  </div>
</div>
<style>
  .left {
      float: left;
  }
  
  .btn-success {
      position: relative;
      font-size: 15px;
  }
  
  .btn-success {
      background: none;
      border: 1px solid #338033;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-success:focus {
      outline: none;
  }
  
  .btn-success:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-success:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-success:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-success:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-success:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .btn-info {
      position: relative;
      font-size: 15px;
  }
  
  .btn-info {
      background: none;
      border: 1px solid #23b7e5;
      color: #23b7e5;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-info:focus {
      outline: none;
  }
  
  .btn-info:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-info:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-info:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-info:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-info:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .btn-warning {
      position: relative;
      font-size: 15px;
  }
  
  .btn-warning {
      background: none;
      border: 1px solid #e08e0b;
      color: #e08e0b;
      padding: 15px 25px;
      border-radius: 8px;
      transition: .6s;
      overflow: hidden;
  }
  
  .btn-warning:focus {
      outline: none;
  }
  
  .btn-warning:before {
      content: '';
      display: block;
      position: absolute;
      background: red;
      width: 60px;
      height: 100%;
      left: 0px;
      top: 0px;
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
  }
  
  .btn-warning:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0px;
      filter: blur(30px);
      transform: translate(-100px) scaleX(-15deg);
  }
  
  .btn-warning:hover {
      background: #338033;
      cursor: pointer;
      color: #fff;
  }
  
  .btn-warning:hover:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
  }
  
  .btn-warning:hover:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
  }
  
  .left-level {
      z-index: 99999;
      float: left !important;
      padding-left: 100% !important;
      margin-top: -53px !important;
      background: #FFC54E;
      line-height: 20px !important;
  }
  
  .visitors-table tbody tr td:last-child {
      display: flex;
      align-items: center;
  }
  
  .visitors-table .progress {
      flex: 1;
  }
  
  .visitors-table .progress-parcent {
      text-align: right;
      margin-left: 10px;
  }
</style>
<app-admin-sidebar></app-admin-sidebar>