.academic-qualification-wrapper {
  background-color: #fbf3e0;
}
.academic-row {
  background-color: #ededed;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.academic-row-alter {
  background-color: white;
}
