<div class="container ">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm">
            <div class="card academic-qualification-wrapper">
                <div class="card-body">
                    <h5>Academic Qualification</h5>
                    <br />
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="academic-row">
                                        <th>CLASS</th>
                                        <th>INSTITUTE STUDIED/INSTITUDE STUDIED IN</th>
                                        <th>AFFILIATED TO EDUCATIONAL BOARD</th>
                                        <th>AVERAGE SCORE (GPA)</th>
                                        <th>SCHOLARSHIPS/WAIVERS RECIEVED</th>
                                        <th>EXTRA CARICULAR DISTICTIONS (SPORT/ART/ETC)</th>
                                        <th>AWARDS/RECOGNITIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="academic-row-alter">
                                        <td>PRIMARY SCHOOL (CLASS 1 TO 5)</td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                    </tr>
                                    <tr>
                                        <td>SECONDARY SCHOOL (CLASS 6 TO 9)</td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                    </tr>
                                    <tr>
                                        <td>CLASS Xth</td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                    </tr>
                                    <tr>
                                        <td>CLASS XIth</td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                    </tr>
                                    <tr>
                                        <td>GRADUATION</td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                        <td> <input type="text" class="form-control" id="usr"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <span style="display:inline-flex;position: relative;top: 53px;">
                        <span class="updateSprite  updateie">
                            <span class="update-text">
                                Update </span>
                        </span>
                        <span class="saveSprite  saveie">
                            <span class="save-text">
                                Save </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
