<div class="container">
  <div class="row justify-content-center">

      <div class="card" style="width: 24rem;">
          <div class="card-header">
              Reset Password
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Type in new password</h6>
						<form [formGroup]="resetForm"  (ngSubmit)="onSubmit()" class="form-signin" style="padding-bottom: inherit;">

              <div class="form-group">
                  <input formControlName="password"  type="text" class="input-field form-control"   placeholder="Password" [ngClass]="{ 'is-invalid': reset && r.password.errors }" required>
                  <div *ngIf="reset && r.password.errors" class="invalid-feedbacks">
                      <span *ngIf="r.password.errors.required">Password is required</span>
                      <span *ngIf="r.password.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase. </span>
                    </div>
                </div>
                  <button type="submit" class="btn btn-primary" style="margin-top: 21px; margin-left: 55px">Submit</button>
            </form>
            </div>
        </div>
  </div>
</div>
