/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); */

::ng-deep body{background:url(../../assets/images/feeasy-background.jpg);font-family: 'Raleway', sans-serif;}

.logo {
	width: 40%;
	object-fit: cover;
}

.phone-addons {
  height: 40px;
  background-color: #71FF33;
  color: white;
}



#upper-pointer2 {
	margin-right: 100px !important;
}

div.right-sprites-wrapper{

  position:absolute;
  top:0;
  right:-250px;
  width:200px;
  height: auto;
}
div.left-sprites-wrapper{

  position:absolute;
  top:100;
  left:-200px;
  width:200px;
  height: auto;
}

div.right1-sprites-wrapper{
  position:absolute;
  top:0;
  right:-250px;
  width:300px;
  height: auto;
}
div.left-sprites-wrapper1{

position:absolute;
top:100;
left:-200px;
bottom:25px;
width:200px;
height: auto;
}

.button-container {
	padding-bottom: 20%;
}

.button {
	border: 1px solid #949413e8;
	border-radius: 15px;
	background-color: white;
	margin-right: 10px;
}

.iossprite {
	background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.iosie {
	width: 50px;
	/* Icon width */
	height: 50px;
	/* Icon height */
	display: inline-block;
	/* Display icon as inline block */
	background-position: -200px -15px;
	/* Icon background position in sprite */
}

.androidsprite {
	background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.androidie {
	width: 50px;
	/* Icon width */
	height: 50px;
	/* Icon height */
	display: inline-block;
	/* Display icon as inline block */
	background-position: -200px -85px;
	/* Icon background position in sprite */
}


.starsprite{
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}
.starie{
  width: 50px;
  /* Icon width */
  height: 50px;
  /* Icon height */
  display: inline-block;
  background-position: -100px -350px;

}
.yellowstarsprite{
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}
.yellowstarie{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -198px -379px;
}

.button-text {
	font-family: 'Courier New', 'Courier, monospace',
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 80%
}

.button-bottom-text {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold
}

.download-button-text {
	display: inline-block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #ccc;
	outline: 0 none;
}

/* Heading */
h1{
  font-weight: 800;
  color: #421f1f;
  font-family: 'Fira Sans Condensed';font-size: 40px;
}
/* Content */
.content{
font-family: 'Josefin Sans';font-size: 17px;
}
p{
  font-size: 18px;
  font-weight: 500;
  color: black;
  letter-spacing: 1.5px;
}

.top-small-heading{
  font-size: 12px;
  font-weight: 500;
}
h2{
  font-family: 'Fira Sans Condensed';font-size: 26px;
  color: #e21919
}


/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
	.logo {
		width: 20%;
		object-fit: cover;
	}
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
	.logo {
		width: 15%;
		object-fit: cover;
	}
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.logo {
		width: 15%;
		object-fit: cover;
	}
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	.logo {
		width: 15%;
		object-fit: cover;
	}
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::: Custom media queries */

@media (max-width: 950px) {}

@media only screen and (max-width: 768px) {
	#upper-pointer2 {
		margin-right: 135px !important;
	}
	#signup-dropdown {
		position: fixed !important;
		transform: none !important;
		top: 50px !important;
		left: 50% !important;
		margin-left: -175px;
		width: 350px !important;
	}
}


/* How it works logo */
.how-it-works-logo {
  position: absolute;
  left: 156px;
  top: 152px;
  line-height: 48px;
  width: 174px;
  text-align: center;
  height: 169px;
  border-radius: 50%;
  background-color: white;
}


/* How within the how it works */
.how{
  position: absolute;
  left: 0px;
  top: 5px;
  right: 0px;
}

/* logo-within-how-it-works */
.logo-within-how-it-works{
  width: 90%;
  vertical-align: text-top;
}


/* Online fee platform */
.online-fee-platform{
  position: absolute;
  top: 27px;
  right: 634px;
  background-color: #ff640e;
  width: 144px;
  height: 143px;
  border-radius: 2px;
  border-radius: 50%;
  border-width: 7px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

/* Online inside online fee platfom */
.online{
  position: absolute;
  left: 35px;
  bottom: 80px;
  font-weight: bold;
  font-size: 20px;
}

/* fee inside online fee platform */
.fee{
  position: absolute;
  bottom: 56px;
  left: 42px;
  font-weight: bold;
  font-size: 17px;
}

/* platform inside online fee platform */
.platform{
  position: absolute;
  top: 85px;
  font-size: 17;
  font-weight: bold;
  left: 31px;
  font-size: 17px;
}

/* Savings platform */
.savings-platform{
  position: absolute;
  font-size: 17px;
  background-color: #44e4bd;
  width: 144px;
  height: 143px;
  border-radius: 50%;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  top: 237px;
  right: 652px;
  font-weight: bold;
}

/* Savings */
.savings{
  left: 36px;
  top: 34px;
  position: absolute;
}

/* Platform inside savings */
.sav-platform{
  left: 36px;
  top: 67px;
  position: absolute;
}
/* AI Powered Logo */
.ai-powered-educational{
  font-size: 17px;
  position: absolute;
  font-weight: bold;
  background-color: #17a4cc;
  width: 144px;

  height: 144px;
  border-radius: 50%;
  top: 424px;
  left: 475px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}

/* Ai powered inside ai poered educational.... */
.ai-Powered{
  position: absolute;
  left: 27px;

  top: 25px;
}

/* Educational inside ai powered educational */
.educational{
  position: absolute;
  left: 27px;
  top: 50px;
}

/* Loan platfrom inside ai poered educational */
.loan-platform{
  position: absolute;
  top: 76px;
  left: 13px;
}

/* Border Image How It Works */

.border-image-how-it-works{
  left: 86px;
  position: relative;
}

/* right-image-wrapper-how-it-works */
.right-image-wrapper-how-it-works{
  display:inline-block;
  position: relative;
  right: -288px;
}

/* bottom-line-right-how-it-works-wrapper */
.bottom-line-right-how-it-works-wrapper{
  position: absolute;
      bottom: 0;
      height: 15px;
      left: -63px;
      width: 119%;
      background-color: #460403;
}


/* Pay fee description */
.pay-fee-descr{
  font-family: 'Josefin Sans';font-size: 17px;
  position: absolute;
  font-weight: bold;
  right: 631px;
  top: 19px;
}

/* pay-multi-desciplinary */
.pay-multi-desciplinary{
  position: absolute;
  top: -4px;
  left: -16px;
}
/* fees-through-a */
.fees-through-a{
  left: 7px;
  top: 16px;
  position: absolute;
}

/* one-stop-shop-platform */
.one-stop-shop-platform{
  position: absolute;
  left: 11px;
  top: 38px;
}
/* helps-you-stay-descr description */
.helps-you-stay-descr{
  font-family: 'Josefin Sans';font-size: 17px;
  right: 369px;
  position: absolute;
  top: 229px;
  font-weight: bold;
}

/* helps-you inside helps you stay on description */
.helps-you{
  position: absolute;
  left: -291px;
}

/* affairs by inside helps you stay on description */
.affairs-by{
  position: absolute;
  top: 20px;
  left: -274px;
}
/* actionable-insight inside helps you stay on */
.actionable-insight{
  position: absolute;
  left: -266px;
  top: 41px;
}
/* how-much-to inside helps you stay on */
.how-much-to{
  position: absolute;
  top: 61px;
  left: -264px;
}

/* higher-studies inside helps you stay on */
.higher-studies{
  position: absolute;
  left: -265px;
  top: 81px;
}
/* Analyse individual description */
.analyze-individual-desc{
  font-family: 'Josefin Sans';font-size: 17px;
  position: absolute;
  top: 410px;
  right: 315px;
  width: 370px;
  font-weight: bold;
}
/* Analyzes inside analyze individual description */
.analyzes{
  left: -61px;
  position: absolute;
  top: -3px;
}
/* potential-of inside individual description */
.potential-of{
  left: -45px;
  position: absolute;
  top: 16px;
}
/* in-making inside individual description */
.in-making{
  top: 37px;
  left: -34px;
  position: absolute;
}
/* a-student inside individual description */
.a-student{
  position: absolute;
  left: -27px;
  top: 57px;
}
/* Spresding financial top heading */
.spreading-financial-heading{
  position: absolute;
        top: -81px;
        right: -553px;
        font-family: 'Fira Sans Condensed';
        font-size: 20px;
}

/* student-fin-mng-sys top heading */
.student-fin-mng-sys{
  position: relative;
        right: -338px;
        font-family: 'Fira Sans Condensed';font-size: 30px;
}
/* powered-by-heading heading */
.powered-by-heading{
  position: relative;
  right: -230px;
  top: -16px;
  font-size: 11px;
}

/* left-bottom-bar-about   bar */
.left-bottom-bar-about{
  border-style: solid;
          background-color: #460403;
          height: 16px;
          left: -105px;
          width: 120px;
          position: absolute;
          top: 254px;
}

/* bottom-what-right bar */
.bottom-what-right{
  position: absolute;
  border-style: solid;
  width: 334px;
  background-color: #460403;
  left: -90px;
  top: 250px;
  height: 16px;
}

/* left-bottom-bar bar */
.left-bottom-bar{
  border-style: solid;
  background-color: #460403;
  height: 16px;
  left: -105px;
  width: 120px;
  position: absolute;
  top: 250px;
}

/* bottom-what-right bar */
.bottom-what-right{
  position: absolute;
  border-style: solid;
  width: 334px;
  background-color: #460403;
  left: -90px;
  top: 250px;
  height: 16px;
}

/* brown-line-how-it-works-left bar */
.brown-line-how-it-works-left{
  width: 130px;
  color: #71100f;
  background: #460403;
  border-style: solid;
  position: absolute;
  left: -3px;
  top: 233px;
  height: 16px;
  }
/* left-bottom-bar-why bar */
.left-bottom-bar-why{
  position: absolute;
  border-style: solid;
  height: 16px;
  top: 225px;
  background-color: #460403;
  width: 229px;
}
