<header class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end top-right-wrap">
    <div class="dropdown">
      <button #signin class="top-link dropdown-toggle login-font" type="button"  (click)="clickEvent('')" data-toggle="dropdown">LOGIN<span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <div id="login-content" [ngStyle]="{'display' : dropdown == 'forgot_password' || dropdown == 'forgot_username' ? 'none' : 'initial'}" >
          <form [formGroup]="loginForm"  class="form-signin " (ngSubmit)="onSubmit()">
            <div class="text-center"><h4 class="login-with-text">Login With</h4>
              <button class="btn btn-sm btn-fb"><i class="fa fa-facebook-f"></i>Facebook Account</button>
              <button class="btn btn-sm btn-google"><i class="fa fa-google-plus"></i>Google Account</button>
            </div>

            <div class="text-center"><h4 class="login-text">Login </h4></div>

            <div class="input-container username-email form-group">
              <!-- <i class="fa fa-user-o icon username-icon"></i> -->
              <span class="user-png"><img src="../../assets/images/user.png"></span>
              <input formControlName="email" class="input-field username-input form-control" type="text" placeholder="Username / Email ID"  [ngClass]="{ 'is-invalid': submitted && l.email.errors }" required >

            </div>
            <!-- <div><span>Error message</span></div> -->
            <div *ngIf="submitted && l.email.errors" class="invalid-feedbacks">
              <span *ngIf="l.email.errors.required">Email is required</span>
              <span *ngIf="l.email.errors.email">Email must be a valid email address</span>
          </div>
            <div class="input-container form-group">
              <!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
              <span class="pass-png"><img src="../../assets/images/password.png"></span>
              <input formControlName="password" class="input-field password-input form-control" type="password"  [ngClass]="{ 'is-invalid': submitted && l.password.errors }" placeholder="Password" required>

            </div>
            <div *ngIf="submitted && l.password.errors" class="invalid-feedbacks">
              <div *ngIf="l.password.errors.required">Password is required</div>
              <div *ngIf="l.password.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase.</div>
          </div>
            <div class="checkbox add-class">
              <label><input type="checkbox" value="remember-me"> <span style="margin-left: 24px">remember me</span></label>
            </div>
            <div class="text-center mb-3 form-group"><button  class="btn btn-login">LOGIN</button></div>

            <div class="text-center"><a class="fg-links"  (click)="clickEvent('forgot_password')" id="fg-pwd" href="#">Forgot Password</a> | <a class="fg-links" id="fg-user" href="#" (click)="clickEvent('forgot_username')">Forgot Username</a></div>
          </form>
        </div>
        <div id="fg-pwd-content"  [ngStyle]="{'display' : dropdown == 'forgot_password' ? '' : 'none'}" >
          <h4 class="text-center frgt-pass">Forgot Password?</h4>
          <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onForgotPasssword()" class="form-signin">
            <div class="input-container text-center form-group">
              <span class="forgotpass-user-png"><img src="../../assets/images/user.png"></span>
              <input formControlName="emailId" class="input-field" type="text" placeholder="Username / Email ID" >
            </div>
            <div class="checkbox add-class-forgot-pass">
              <label><input type="radio"  formControlName="type" value="email"> Search by Email</label><br />
              <label><input type="radio"   formControlName="type" value="mob"> Search by Mobile Number</label>
            </div>
            <div class="input-container text-center form-group">
              <span class="forgotpass-user-png"><img src="../../assets/images/user.png"></span>
              <input formControlName="mobile" class="input-field" type="number" placeholder="Mobile Number" >
            </div>
            <div class="text-center mb-3 form-group"><button type="submit" class="btn btn-login lg">SEND</button></div>
          </form>
        </div>
        <div id="fg-user-content" [ngStyle]="{'display' : dropdown == 'forgot_username' ? '' : 'none'}">
          <h3 class="" style="text-align: center;"><span style="display:block;width:162px;margin: 10px auto 0 auto;font-size: 18px; ">Forgot Username?</span></h3>
          <form class="form-signin">
            <div class="input-container text-center mobile-input">
              <!-- <i class="fa fa-mobile icon" aria-hidden="true"></i> -->
              <span class="mobile-png"><img src="../../assets/images/mobile.png"></span>
              <input class="input-field mobile-inputt" type="number" placeholder="Father / Mother Mobile No." name="email" required>
            </div>
            <div class="input-container text-center">
              <!-- <i class="fa fa-calendar icon" aria-hidden="true"></i> -->
              <span class="date-png"><img src="../../assets/images/date.png"></span>
              <input class="input-field date-inputt mobile-inputt" type="date" placeholder="Submit Date of Birth*" name="email" required>
            </div>
            <div class="text-center mb-3"><button type="submit" class="btn btn-login checkdet">CHECK DETAILS</button></div>
          </form>
        </div>
      </ul>
    </div>
    <div class="dropdown show">
						<span #signup class="" style="padding-top: 3px;">|</span><a class="top_link  signup-font" id="dropdownMenuLink"
						 data-toggle="dropdown" id="signUp" href="#">SIGN UP</a>
						<ul class="dropdown-menu  dropdown-menu-right" id="signup-dropdown" aria-labelledby="dropdownMenuLink">
							<i class="fa fa-caret-up" aria-hidden="true" id="upper-pointer2"></i>
							<div id="login-content">
								<form [formGroup]="signupForm"  (ngSubmit)="onSignup()" class="form-signin" style="padding-bottom: inherit;">
									<div class="text-center">

										<button class="btn btn-sm btn-fb"><i class="fa fa-facebook-f"></i>Facebook Account</button>
										<button class="btn btn-sm btn-google"><i class="fa fa-google-plus"></i>Google Account</button>
									</div>

									<hr style="  margin-top: 0rem;" />
									<div class="input-container username-email form-group">
										<!-- <i class="fa fa-user-o icon username-icon"></i> -->
										<span class="user-png"><img src="../../assets/images/user.png"></span>
										<input formControlName="firstName" class="input-field username-input form-control" type="text" placeholder="First Name" [ngClass]="{ 'is-invalid': register && r.firstName.errors }">
                  </div>
                  <div *ngIf="register && r.firstName.errors" class="invalid-feedbacks">
                    <span *ngIf="r.firstName.errors.required">Frist Name is required</span>
                    <span *ngIf="r.firstName.errors.firstName">Email must be a valid email address</span>
                  </div>
                  <div class="input-container username-email form-group">
										<!-- <i class="fa fa-user-o icon username-icon"></i> -->
										<span class="user-png"><img src="../../assets/images/user.png"></span>
										<input formControlName="lastName" class="input-field username-input form-control" type="text" placeholder="Last Name" >
                  </div>
									<div class="input-container username-email form-group">
										<!-- <i class="fa fa-user-o icon username-icon"></i> -->
										<span class="user-png"><img src="../../assets/images/user.png"></span>
										<input formControlName="email" class="input-field username-input form-control" type="text" placeholder="Email ID" [ngClass]="{ 'is-invalid': register && r.email.errors }" required >
                  </div>
                  <div *ngIf="register && r.email.errors" class="invalid-feedbacks">
                    <span *ngIf="r.email.errors.required">Email is required</span>
                    <!-- <span *ngIf="r.email.errors.email">Email must be a valid email address</span> -->
                  </div>

									<div class="input-container username-email form-group">
										<!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
										<span class="pass-png"><img src="../../assets/images/password.png"></span>
										<input formControlName="password" class="input-field password-input form-control" type="password" placeholder="Password"  [ngClass]="{ 'is-invalid': register && r.password.errors }" required>
                  </div>
                  <div *ngIf="register && r.password.errors" class="invalid-feedbacks">
                    <span *ngIf="r.password.errors.required">Password is required</span>
                    <span *ngIf="r.password.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase. </span>
                  </div>
									<div class="input-container form-group">
										<!-- <i class="fa fa-unlock-alt icon password-icon"></i> -->
										<span class="pass-png"><img src="../../assets/images/mobile.png"></span>
                    <input formControlName="phone" class="input-field password-input form-control" type="number" placeholder="Phone" [ngClass]="{ 'is-invalid': register && r.phone.errors }">

                    <div  *ngIf="!otpVerified"   class="input-group-append phone-addons">
                      <button class="btn btn-outline-secondary"  data-toggle="modal" data-target="#exampleModal"  type="button" (click)='sendOtp()'>Generate OTP</button>
                    <!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                      </button> -->
                      <button #generateOtp data-toggle="modal" data-target=".bd-example-modal-sm" type="button" style="display: none"></button>
                    </div>
                    <div  *ngIf="otpVerified" style="width: 15%" class="input-group-append ">
                      <span class="user-png" style="width: 45px;height: 39px; padding: 4px"><img style="width: 37px;height: 31px;margin-bottom: 67px;" src="../../assets/images/kisspng-computer-icons-check-mark-tick-box-5b108789eed909.9385738515278099299783 (1).jpg"/></span>

                    </div>
                  </div>
                  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->

                  <div *ngIf="register && r.phone.errors" class="invalid-feedbacks">
                    <span *ngIf="r.phone.errors.required">Phone is required</span>
                    <!-- <span *ngIf="r.phone.errors.minlength">Password must be at least 8 characters with a one special character, alphanumeric and uppercase/lowercase. </span> -->
                  </div>

                  <div *ngIf="otpVerified">
                      <div class="checkbox add-class">
                          <label><input type="checkbox" value="remember-me">

                            I agree to all<a class="fg-links" id="fg-pwd" href="#"> terms and conditions</a></label>
                        </div>
                        <div class="text-center mb-3 form-group"><button type="submit" class="btn btn-login" style="width:100%">REGISTER</button></div>

                  </div>
									<!-- <div class="checkbox add-class">
										<label><input type="checkbox" value="remember-me">

											I agree to all<a class="fg-links" id="fg-pwd" href="#"> terms and conditions</a></label>
									</div>
									<div class="text-center mb-3 form-group"><button type="submit" class="btn btn-login" style="width:100%">REGISTER</button></div> -->

								</form>
							</div>
						</ul>
					</div>
        </div>
  </div>
      <div class="row flex-nowrap justify-content-between ">
			<div class="col-12 text-center ">
				<img class="logo" src="../../assets/images/logo.png" alt="">
				<p class="top-small-heading">Fee Payments Made easy</p>
			</div>
		</div>
  </header>
<main role="main">
<div class="home-banner">
  <!--Home Banner-->
  </div>
</main>
	<!-- 	Android Iphone Buttons -->
	<div class="container row button-container">
		<div class="col-md-6">
        <p class="spreading-financial-heading">Spreading
            your financial wings</p>
          <div class="student-fin-mng-sys">
            <p>Student financial management system</p>
            <p class="powered-by-heading">Powered by TURIYA</p>

          </div>
			<span class="row justify-content-center pull-right">
				<button type="button" class="btn button "><span class="iossprite iosie"></span>
					<span style="display:inline-block;">
						<span style="display:block" class="button-text">Available on the</span>
						<span style="display:block" class="button-bottom-text">App Store</span>
					</span>
				</button>
				<button type="button" class="btn  button ">
					<span class="androidsprite androidie"></span>
					<span class="download-button-text">
						<span style="display:block" class=" download-button-text button-text"> Download for &nbsp;&nbsp; </span>
						<span class="button-bottom-text">Android</span>
					</span>
				</button>
        </span>
		</div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <div class="left-bottom-bar-about">
          </div>
        </div>
        <div class="col-sm">
          <div class="left-sprites-wrapper"></div>
          <h1 class="heading">About FeEasy</h1>
          <p class="content">Quality Education isfundamental to the well being and advantage of nation in general,and society
            in particular.However there are limited options for parents/guardians to plan for their wards complete
            career needs,be it,higher studies,sports,music,drama or any chosen field of the child.<br />
            FeEasy is a new breed of self-serv fee payment,Savings and educational loan platform.Our
            technology empowers you to use AI to turn data into realtime,predictive insights,personalized
            for every user</p>
          <div class="right-sprites-wrapper">
            <div class="bottom-what-right"></div>
            <img style="max-width:100%;" src="./../assets/images/homepic2.png">
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <div class="left-bottom-bar">
          </div>
        </div>
        <div class="col-sm">
          <div class="left-sprites-wrapper"></div>
          <h1 class="heading">What FeEasy does?</h1>

          <div class="row">
            <div class="col-sm-1">
              <span class="yellowstarie yellowstarsprite"></span>
            </div>
            <div class="col-sm-11">
              <p class="content"> FeEasy provides actionable insights to save for future career finanial requirements of
                the child.
              </p>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-1">
              <span class="yellowstarie yellowstarsprite"></span>
            </div>
            <div class="col-sm-11">
              <p class="content">FeEasy platform helps users pay multi-disciplinary fees though a one stop shop platform.</p>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-1">
              <span class="yellowstarie yellowstarsprite"></span>
            </div>
            <div class="col-sm-11">
              <p class="content">It helps them stay on top of their financial affairs by providing timely and actionable
                insights on
                how much to save for higher studies and advices on the differential amount required for getting admisions to
                their
                chosen educational institutes.</p>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-1">
              <span class="yellowstarie yellowstarsprite"></span>
            </div>
            <div class="col-sm-11">
              <p class="content">The platform educate customers to increase savings,reduce debt and improve financial outcomes.
                Provide ongoing feedback and realign action with goals
              </p>
            </div>

          </div>


          <div class="right-sprites-wrapper">
            <div class="bottom-what-right"></div>
            <img style="max-width:100%;" src="./../assets/images/homepic4.png">
          </div>
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div style="width:100%">
      <div class="row col-sm-12" style="
        margin: 0;">
        <div style="display:inline-block;white-space:nowrap">


          <div class="" style="display:inline-block">
            <div class="brown-line-how-it-works-left">

            </div>
          </div>
          <div class="" style="display:inline-block">
            <img width="90%" class="border-image-how-it-works" src="./../assets/images/circles.png">
            <!-- How it works -->
            <div class="how-it-works-logo ">
              <div class="how"><b>How</b></div>
              <div><img class="logo-within-how-it-works" src="./../assets/images/logo.png"></div>
              <div><b>Works?</b></div>
            </div>
            <!-- Online fee platform -->
            <div class="online-fee-platform">
              <div class="online">Online
              </div>

              <div class="fee">Fee
              </div>

              <div class="platform">Platform
              </div>



            </div>
            <!-- Savings platform -->
            <div class="savings-platform">
              <div class="savings">Savings </div>
              <div class="sav-platform"> Platform </div>

            </div>

            <!-- Ai powered -->
            <div class="ai-powered-educational">
              <div class="ai-Powered"> AI Powered </div>
              <div class="educational"> Educational </div>
              <div class="loan-platform">Loan Platform </div>

            </div>
          </div>
          <!-- Right side image with bottom line -->

          <div class="right-image-wrapper-how-it-works">
            <img width="100%" src="./../assets/images/homepic5.png">
            <div class="bottom-line-right-how-it-works-wrapper">
            </div>
          </div>
          <!--  pay fee description-->

          <div class="pay-fee-descr">
            <div class="pay-multi-desciplinary">Pay multi-disciplinary </div>
            <div class="fees-through-a"> fees through a </div>
            <div class="one-stop-shop-platform"> one stop shop platform . </div>

          </div>
        </div>
        <!--  Helps you stay on-->
        <div class="helps-you-stay-descr">
          <div class="helps-you">Helps you on top of financial</div>
          <div class="affairs-by">affairs by providing
            timely and </div>
          <div class="actionable-insight">actionable
            insights on </div>
          <div class="how-much-to">how much to save for</div>
          <div class="higher-studies">higher studies.</div>

        </div>

        <!-- Analyze individual description -->

        <div class="analyze-individual-desc">
          <div class="analyzes">Analyzes individual
            finances &amp; future growth</div>
          <div class="potential-of">potential of students
            thereby assisting banks</div>
          <div class="in-making">in making informed
            decisions respect to</div>
          <div class="a-student">a student loan</div>

        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm">
          <div class="left-sprites-wrapper1">
            <div class="left-bottom-bar-why">
            </div>
            <img style="max-width:100%;-webkit-transform: scaleX(-1);
              transform: scaleX(-1);" src="./../assets/images/homepic1.png">
          </div>

          <h1 class="heading">Why is FeEasy Unique?</h1>

          <div class="container">
            <div class="row">
              <div class="col-sm-1">
                <span class="starsprite starie"></span>
              </div>
              <div class="col-sm-11">
                <h2>Insightful:</h2>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-11">
                <p class="content">FeEasy provide actionable insights to save for future career financial requirements of the
                  child.
                  The dashboards are based on individual requirements and provide information on how much fee is to be paid
                  How much fee is to be paid ,How much more to save or the loan requirements based on individual childs short
                  term and long term goals
                </p>


              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">
                <span class="starsprite starie"></span>
              </div>
              <div class="col-sm-11">
                <h2>Predictive:</h2>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-11">
                <p class="content">FeEasy Doesnt just look at historical data to make informed decitions for savings and loan
                  process
                  .It look at the holistic development of the childs academic and extra caricular credentials and the potential
                  of the chosen career field to enable bankers to process the loan requirement.
                </p>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">
                <span class="starsprite starie"></span>
              </div>
              <div class="col-sm-11">
                <h2>Personal:</h2>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-11">
                <p class="content">Each functionality of FeEasy is relevant for the child's fee requirement right from school
                  fee ,
                  higher studies fee requirements to any payments that are required to achieve the individual goals.
                </p>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">
                <span class="starsprite starie"></span>
              </div>
              <div class="col-sm-11">
                <h2>Self Learning:</h2>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-11">
                <p class="content">FeEasy helps in analysing every requirement of the child and gives a disciplined approach to
                  planning
                  financials for the higher aspirations of every child.It is powered by an AI chatbot which assist in any queries
                  with respect to the product
                </p>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">
                <span class="starsprite starie"></span>
              </div>
              <div class="col-sm-11">
                <h2>Easy To Use:</h2>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-11">
                <p class="content">The platform is very easy to use and being available in web as well as mobile apps enable the
                  user to perform
                  the necessary functionalities with guided steps
                </p>
              </div>

            </div>
          </div>


          <div class="right1-sprites-wrapper"><img style="max-width:100%;" src="./../assets/images/homepic3.png"></div>
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
    <br />
    <br />
    <div>
      <img width="100%" src="./../assets/images/homepage-bottom.jpg">
      <!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content" style="height: 300px;">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Verify OTP</h5>
                  <button type="button" #closeVerify class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <div class="verify-otp container" style="margin-top:65px">
                <input style="width:90%" type="text" class="form-control" [(ngModel)]="otpNum" placeholder="Enter 4-digit OTP here" />
                <div *ngIf="otpError" class="invalid-feedbacks">
                    <span>{{otpError}}</span>
                  </div>
                <button type="button" class="btn btn-primary" style="margin-top: 21px; margin-left: 55px" (click)='verifyOtp()'>Verify OTP</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" #closeVerify class="close" data-dismiss="modal" aria-label="Close"></button>
         <!--  <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" align="center" style="padding:50px">
                    <input  type="text" class="form-control" [(ngModel)]="otpNum" placeholder="Enter 4-digit OTP here" />
                    <div *ngIf="otpError" class="invalid-feedbacks">
                      <span>{{otpError}}</span>
                    </div>
                    <button  class="btn btn-success " style="margin-top:15px" type="button" (click)='verifyOtp()'>Verify otp </button>
                  </div>
              </div>
            </div>
          </div>
         <!--  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>

	<!-- End	Android Iphone Buttons -->
  <script>
$(".top-link,#btn-pwd-back,#btn-user-back").on("click", function(){

  $("#login-content").show();
  $("#fg-pwd-content").hide();
      $("#fg-user-content").hide();
});

$("#fg-pwd").on("click", function(){
  $("#login-content").hide();
  $("#fg-pwd-content").show();
  $("#fg-user-content").hide();
});
$("#fg-user").on("click", function(){
  $("#login-content").hide();
  $("#fg-pwd-content").hide();
  $("#fg-user-content").show();
});</script>
