/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); */

/* ::ng-deep body {
  background-color: #fbb70e;
  font-family: 'Raleway', sans-serif;
} */

/*
body {
  background-color: #fbb70e !important;
  font-family: 'Raleway', sans-serif;
} */

/* Navbar */

::ng-deep body {
  background: url(../../assets/images/feeasy-background.jpg);
  font-family: 'Raleway', sans-serif;
}

/* ::ng-deep body {
  background-color: #fbb70e;
  font-family: 'Raleway', sans-serif;
} */


/* Navbar */



/* End Remove button glow */

/* Navbar */

/* Bell Sprite */



/* Prifile dropdown */



/* Profile dropdown */

/* End Bell Sprite */

.mynav {
  background-color: white;
}

.navbar .divider-vertical {
  height: auto;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.btn-transparent {
  background: transparent;
}

.avatar {
  width: 30px;
  margin-right: 5px;
}

.dropdown-toggle:hover {
  color: #0c0c0c;
}

.navbar-toggler {
  background-color: #a8a8a8;
}

/* Remove button glow */

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* End Remove button glow */

/* Bell Sprite */

.bellprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.bellie {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: -120px -30px;
}

/* Prifile dropdown */

.dropdown-menu.show {
  width: 250px;
}

.dropdown-menu {
  left: 200px;
  padding: 25px;
}

.logout-user {
  float: right;
}
/* Border Bottom row */

.dropdown-items {
  padding: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.dropdown-toggle:hover {
  color: #0c0c0c;
}

/* Prifile dropdown */

.dropdown-menu.show {
  width: 250px;
}

.dropdown-menu {
  left: 200px;
  padding: 25px;
}
/* Border Bottom row */

.dropdown-items {
  padding: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.dropdown-toggle:hover {
  color: #0c0c0c;
}

.downprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.downie {
  width: 50px;
  height: 30px;
  display: inline-block;
  background-position: -117px -87px;
}
/* Profile name */

.profile-name {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

/* 3 student faces top right */

.students-image-wrapper {
  padding-top: 25px;
}
.students-image {
  border: 5px solid white !important;
}
.inactive-student {
  opacity: 0.5;
}
.pencilprite {
  background: url('../../assets/images/sprite-icons-logs.png') no-repeat;
}

.pencilie {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: -290px -21px;
}
.topright {
  position: absolute;
  top: 3%;
  right: 20%;
  font-size: 18px;
}
/* Image shadow */
.image-shadow {
  -webkit-box-shadow: 0 0 5px 2px #fff;
  -moz-box-shadow: 0 0 5px 2px #fff;
  box-shadow: 0 0 5px 2px #fff;
}
/* Profile Sub data p */
.profile-subdata {
  font-size: 15px;
  font-weight: 550;
}

/* Card */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 550;
  margin-top: 20px;
}
.form-control {
  border-radius: 0px;
  box-shadow: 0 0 18px #b1b1b1;
}
.students-heading {
  font-weight: 700;
}
.sub-contnet {
  font-size: 12px;
  border: 1px solid #fbb70e;
  width: 100%;
  padding: 10px;
}

td {
  padding: 10px;
}
/* width inputs */
.width-wrapper {
  width: 80%;
}
input[type='text'],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
/* Profile menu item 4 p */
.profile-menu-item4 {
  font-size: 14px;
  font-weight: 700;
}
p.profile-menu-item4:hover {
  background-color: gray;
}
/* Fee Structure Menu Item */
.menu-item {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
/* Top right edit profile pic while payfee */

.topright2 {
  position: absolute;
  top: 29%;
  right: 20%;
  font-size: 18px;
}
/*  */
.graytitle {
  color: gray;
  font-size: 12px;
}
/* Saving Calculatore cone */

p.savings-calculator-p {
  font-size: 12px;
  background-color: #eee;
  width: max-content;
  padding: 5px 20px;
  margin: auto;
  color: brown;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}
p.savings-calculator-p:after {
  display: block;
  content: '';
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin: auto;
  background: #eee;
  color: brown;
  width: 20px;
  height: 20px;
  z-index: -1;
  transform: rotateZ(45deg);
}
/* Table styling */
.heading-row {
  background-color: #eadede;
}

.content-row {
  background-color: white !important;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.table {
  font-size: 12px;
}

/* Large modal width */
.modal-lg {
  max-width: 1000px;
}

/* Savingd  */
/* Modal header borderbottom */

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0px solid #e9ecef;
}
.modal-align {
  top: 150px;
}
.modal-header .close {
  padding: 0px;
  margin: 0px;
}
/* Large modal width */
.modal-lg {
  max-width: 1200px;
}
.modal-content {
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
/* Upload Button */
.upload-button {
  background-color: #6ca6ff;
}
.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}
/* Top right edit profile pic while savings */

.topright3 {
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 18px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.selected-student {
  padding: 38px;
  background: #f1ff84;
  margin: 14px;
}
.profdrop {
  font-size: 14px;
}
.font-f {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.updateSprite {
  background: url('../../assets/images/submit-update-save-button.png') no-repeat;
}

.updateie {
  width: 150px; /* Icon width */
  height: 100px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
  background-position: -0px -12px;
}
.saveSprite {
  background: url('../../assets/images/submit-update-save-button.png') no-repeat;
}
.saveie {
  display: inline-block;
  width: 150px; /* Icon width */
  height: 100px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
  background-position: -0px -125px;
}

.update-text {
  position: relative;
  left: 52px;
  font-weight: bold;
  top: 32px;
}
.save-text {
  position: relative;
  left: 58px;
  top: 33px;
  font-weight: bold;
}

