
<!-- Tab Bar -->
<div class="container">
  <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col">
          <ul class="nav nav-tabs" role="tablist">

              <li class="nav-item tab-image">
                  <a class="nav-link" href="#payfee" role="tab" data-toggle="tab"><img src="../../assets/images/payfee-tab.png"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#savings" role="tab" onclick="openModal()" data-toggle="tab"><img src="../../assets/images/savings-tab.png"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#apply-loan" role="tab" data-toggle="tab"><img src="../../assets/images/applyloan-tab.png"></a>
              </li>
          </ul>
      </div>
      <div class="col-sm-2">
          <div class="row students-image-wrapper" align="center">
              <div class="col-md-4 "><img width="50px" class="rounded-circle border border-white students-image"
                      height="50px" src="../../assets/images/boy.jpg"></div>
              <div class="col-md-4"><img width="50px" class="rounded-circle border border-white students-image inactive-student"
                      height="50px" src="../../assets/images/boy2.jpg"></div>
              <div class="col-md-4"><img width="50px" class="rounded-circle border border-white students-image inactive-student"
                      height="50px" src="../../assets/images/girl3.jpg"></div>
          </div>
      </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="profile">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
                  <div class="row ">
                      <div class=" col-sm selected-student">

                          <div class="profile-pic" align="center">
                              <img width="60%" src="../../assets/images/boy.jpg" class="rounded shadow image-shadow" alt="Cinque Terre">
                              <span style="background-color:#e27051;border-radius:20px;   " class=" topright pencilprite  pencilie">
                              </span>
                          </div>
                          <p align="center" style="margin-top:22px"><b>Roushan Roudra</b></p>
                          <p class="profile-subdata" align="center">|V Class Section C</p>
                          <p class="profile-subdata" align="center">Sree VidyaNikethan Public School</p>
                          <div align="center">
                              <img src="../../assets/images/schoollogo.png" class="rounded shadow " alt="Cinque Terre">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-sm">
                  <div class="card">
                      <div class="card-body">
                          <h5>Profile Settings</h5>
                          <div class="row">
                              <div class="col-sm">
                                  <div>
                                      <label>Gender</label>
                                      <select class="form-control width-wrapper" id="sel1">
                                          <option>M</option>
                                          <option>F</option>
                                      </select>
                                  </div>
                                  <div>
                                      <label>Date Of Birth</label>
                                      <input type="date" class="form-control width-wrapper" id="usr">
                                  </div>
                                  <div>
                                      <label>Nationality</label>
                                      <select class="form-control width-wrapper" id="sel1">
                                          <option>IND</option>
                                      </select>
                                  </div>
                                  <div>
                                      <label>Identification Mark</label>
                                      <textarea type="text" class="form-control" id="usr"></textarea>
                                  </div>
                                  <div>
                                      <label>Board Of Education</label>
                                      <input type="text" class="form-control width-wrapper" id="usr">
                                  </div>
                              </div>
                              <div class="col-sm">
                                  <div>
                                      <label>Blood Group</label>
                                      <select class="form-control width-wrapper" id="sel1">
                                          <option>B+</option>
                                      </select>
                                  </div>
                                  <div>
                                      <label>Mother Tongue</label>
                                      <input type="text" class="form-control width-wrapper" id="usr">
                                  </div>
                                  <div>
                                      <label>Residential Adress</label>
                                      <textarea type="text" class="form-control" id="usr"></textarea>
                                  </div>
                                  <div>
                                      <label>Date Of Birth</label>
                                      <input type="date" class="form-control width-wrapper" id="usr">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body">
                          <div align="center">
                              <p class="students-heading">Other Institutions</p>
                          </div>
                          <p class="sub-heading">Sports</p>
                          <table class="sub-contnet">
                              <tr>
                                  <td>Kenstia Sports Academy</td>
                              </tr>
                          </table>
                          <p class="sub-heading">Arts</p>
                          <table class="sub-contnet">
                              <tr>
                                  <td>Sree VidyaNikethan Public School</td>
                              </tr>
                              <tr>
                                  <td>Global Music Institute</td>
                              </tr>
                          </table>
                          <p class="sub-heading">Mathematics</p>
                          <table class="sub-contnet">
                              <tr>
                                  <td>Aryabhata Maths Academy Of India</td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <!--    Academic Qualification -->
      <app-academic></app-academic>
      <div class="container ">
          <div class="row" style="margin-top: 10px">
              <div class="col-sm">
                  <div class="card academic-qualification-wrapper">
                      <div class="card-body">
                          <h5>Academic Qualification</h5>
                          <br />
                          <div class="container">
                              <div class="table-responsive">
                                  <table class="table table-bordered table-striped">
                                      <thead>
                                          <tr class="academic-row">
                                              <th>CLASS</th>
                                              <th>INSTITUTE STUDIED/INSTITUDE STUDIED IN</th>
                                              <th>AFFILIATED TO EDUCATIONAL BOARD</th>
                                              <th>AVERAGE SCORE (GPA)</th>
                                              <th>SCHOLARSHIPS/WAIVERS RECIEVED</th>
                                              <th>EXTRA CARICULAR DISTICTIONS (SPORT/ART/ETC)</th>
                                              <th>AWARDS/RECOGNITIONS</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr class="academic-row-alter">
                                              <td>PRIMARY SCHOOL (CLASS 1 TO 5)</td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                          </tr>
                                          <tr>
                                              <td>SECONDARY SCHOOL (CLASS 6 TO 9)</td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                          </tr>
                                          <tr>
                                              <td>CLASS Xth</td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                          </tr>
                                          <tr>
                                              <td>CLASS XIth</td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                          </tr>
                                          <tr>
                                              <td>GRADUATION</td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                              <td> <input type="text" class="form-control" id="usr"></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <div class="container">
                          <span style="display:inline-flex;position: relative;top: 53px;">
                              <span class="updateSprite  updateie">
                                  <span class="update-text">
                                      Update </span>
                              </span>
                              <span class="saveSprite  saveie">
                                  <span class="save-text">
                                      Save </span>
                              </span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--  End   Academic Qualification -->

      <!-- Notifications -->
      <div class="container" >
          <div class="row" style="margin-top: 40px">
              <div class="col-sm">
                  <div class="card">
                      <div class="card-body">
                          <h5>Notifications</h5>
                          <Label><b> Sree vidyanikethan Public School:</b></Label><span class="feature-content">Tomarrow
                              is an holiday on behalf of vinayakachathurthi ,Wil reopen on saturday,Sep 15
                              th.Happy
                              Vinayakachavithi from the management</span><br />
                          <Label><b> Fee Easy:</b></Label><span class="feature-content">Happy Vinayakachavithi
                              from the
                              management.Kow about feeasy with breakthrow features.Secure your child with your
                              finger
                              tips
                              Download feeasy in your Android or Apple Mobile Now.Goto App store or google play
                              store to
                              download and monitor your career.</span><br />
                          <Label><b> HDFC Bank:</b></Label><span class="feature-content">Refreshing offers on
                              educational
                              loan click here to know more</span><br />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Notifications -->
  </div>
  <div role="tabpanel" class="tab-pane fade" id="savings">

      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
                  <div class="row ">
                      <div class=" col-sm selected-student">
                          <P class="profile-menu-item4">Set Goals</P>
                          <P data-toggle="modal" data-target="#savingsAccountModal" class="profile-menu-item4 menu-item">Open
                              Savings Account</P>
                          <P class="profile-menu-item4  menu-item" data-toggle="modal" data-target="#myModal">Savings
                              Calculator</P>
                          <P class="profile-menu-item4">Invest</P>
                          <br />
                          <br />
                          <div class="profile-pic" align="center">
                              <img width="60%" src="../../assets/images/boy.jpg" class="rounded shadow image-shadow" alt="Cinque Terre">
                              <span style="background-color:#e27051;border-radius:20px;   " class="topright3 pencilprite  pencilie">
                              </span>
                          </div>
                          <p align="center" style="margin-top:22px"><b>Roushan Roudra</b></p>
                          <p class="profile-subdata" align="center">|V Class Section C</p>
                          <p class="profile-subdata" align="center">Sree VidyaNikethan Public School</p>
                          <div align="center">
                              <img src="../../assets/images/schoollogo.png" class="rounded shadow " alt="Cinque Terre">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-sm">

              </div>
              <div class="col-sm">

              </div>
          </div>
      </div>



  </div>

  <div role="tabpanel" class="tab-pane fade" id="payfee">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
                  <div class="row ">
                      <div class=" col-sm selected-student">
                          <P class="profile-menu-item4 menu-item">Fee Structure</P>
                          <P class="profile-menu-item4  menu-item">Pay fee online </P>
                          <br />
                          <br />
                          <div class="profile-pic" align="center">
                              <img width="60%" src="../../assets/images/boy.jpg" class="rounded shadow image-shadow" alt="Cinque Terre">
                              <span style="background-color:#e27051;border-radius:20px;   " class="topright2 pencilprite  pencilie">
                              </span>
                          </div>
                          <p align="center" style="margin-top:22px"><b>Roushan Roudra</b></p>
                          <p class="profile-subdata" align="center">|V Class Section C</p>
                          <p class="profile-subdata" align="center">Sree VidyaNikethan Public School</p>
                          <div align="center">
                              <img src="../../assets/images/schoollogo.png" class="rounded shadow " alt="Cinque Terre">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-sm-9">
                  <div class="card" id="feeplan">
                      <div class="card-body">
                          <div class="container">
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row" style="border-bottom: 1px solid #e0d3d3;">
                                          <div onclick="showDueDateWise()" class="col-sm" style=" margin: auto;">
                                              <p class="graytitle">Fee Plan</p>
                                          </div>
                                          <div class="col-sm">
                                              <p align="center" class="savings-calculator-p">Due Date Wise</p>
                                          </div>
                                          <div class="col-sm">
                                          </div>
                                      </div>
                                      <br />
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Annual Fee</h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  15,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Transport Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  18,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 2 Sep-Nov</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 3 Nov-Feb</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Tuition Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  43,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 2 Sep-Nov</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 3 Nov-Feb</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Book Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  43,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Lab Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  25,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Hostel Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  48,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 2 Sep-Nov</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td>Installment 3 Nov-Feb</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Robotics Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  6,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Misc Fee </h5>
                                          </div>
                                          <div class="col-sm">
                                              <p style="color:brown;    font-weight: 700;" align="right">
                                                  2,000.00</p>
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>Installment 1 Jun-Aug</td>
                                                      <td>15000.00</td>
                                                      <td>15 April 2015</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card" id="duedate">
                      <div class="card-body">
                          <div class="container">
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row" style="border-bottom: 1px solid #e0d3d3;">
                                          <div class="col-sm">
                                              <p align="center" class="savings-calculator-p">Fee plan</p>
                                          </div>
                                          <div onclick="showFeeStructure()" class="col-sm" style=" margin: auto;">
                                              <p class="graytitle">Due Date Wise</p>
                                          </div>
                                          <div class="col-sm">
                                          </div>
                                      </div>
                                      <br />
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Apr 2018</h5>
                                          </div>
                                          <div class="col-sm">
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>15 April</td>
                                                      <td>Annual fee-One Time</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Transport fee-Installment 1</td>
                                                      <td>6000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Tution fee-installment 1</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td><b>Total</b></td>
                                                      <td><b>36000</b></td>
                                                      </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Apr 2018</h5>
                                          </div>
                                          <div class="col-sm">
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>15 April</td>
                                                      <td>Annual fee-One Time</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Transport fee-Installment 1</td>
                                                      <td>6000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Tution fee-installment 1</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td><b>Total</b></td>
                                                      <td><b>36000</b></td>
                                                      </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="row">
                                          <div class="col-sm">
                                              <h5 style="color:brown">Dec 2018</h5>
                                          </div>
                                          <div class="col-sm">
                                          </div>
                                      </div>
                                      <div class="table-responsive">
                                          <table class="table table-bordered table-striped">
                                              <thead>
                                                  <tr class="heading-row">
                                                      <th>INSTALLMENT</th>
                                                      <th>INSTALLMENT AMOUNT</th>
                                                      <th>DUE DATE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr class="content-row">
                                                      <td>15 April</td>
                                                      <td>Annual fee-One Time</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Transport fee-Installment 1</td>
                                                      <td>6000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td>Tution fee-installment 1</td>
                                                      <td>15000</td>
                                                  </tr>
                                                  <tr class="content-row">
                                                      <td></td>
                                                      <td><b>Total</b></td>
                                                      <td><b>36000</b></td>
                                                      </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-sm">
                  One of three columns
              </div>
          </div>
      </div>

  </div>

</div>



<!-- The Modal -->
<div class="modal fade" id="savingsAccountModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content modal-align">
          <!-- Modal Header -->
          <div class="modal-header">

              <h4 class="col-12 modal-title text-center" style="color:#5a2727">Open Savings Account for Roushan
                  Rudra</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
              <div class="container">
                  <div class="row" style="border-bottom: 1px solid #e0d3d3;">
                      <div class="
                 col-sm">
                      </div>
                      <div class="col-sm">
                          <p align="center" class="savings-calculator-p">OPEN SAVINGS ACCOUNT</p>
                      </div>
                      <div class="col-sm">
                      </div>
                  </div>
                  <br />
                  <div class="row">
                      <div class="col-sm">
                          <div class="container">
                              <div class="table-responsive">
                                  <table class="table table-bordered table-striped">
                                      <thead>
                                          <tr class="heading-row">
                                              <th>CHILD NAME</th>
                                              <th>AGE</th>
                                              <th>GENDER</th>
                                              <th>GRADE</th>
                                              <th>PARENTS/GUARDIAN'S NAME</th>
                                              <th>DOCUMENTS FOR UPLOAD</th>
                                              <th>FD OR ANY OTHER SAVINGS SCHEME OPTED?</th>
                                              <th>ANY SIP PLANNED?IF YES PLEASE DESCRIBE</th>
                                              <th>UPLOAD DOCUMENTS</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr class="content-row">
                                              <td>Roshan Rudra</td>
                                              <td>7</td>
                                              <td>M</td>
                                              <td>IV</td>
                                              <td> Vijay Sriramadas<br>Susmiths sreeramadas</td>
                                              <td>3rd class merit certificate</td>
                                              <td>1 Lak FD in SBI</td>
                                              <td>Monthly 3000 invested in Sbi sip plan for Jeevan Anand</td>
                                              <td> <button class="btn btn-default upload-button"> UPLOAD</button></td>
                                          </tr>
                                          <tr class="content-row">
                                              <td>Roshan Rudra</td>
                                              <td>7</td>
                                              <td>M</td>
                                              <td>IV</td>
                                              <td> Vijay Sriramadas<br>Susmiths sreeramadas</td>
                                              <td>3rd class merit certificate</td>
                                              <td>1 Lak FD in SBI</td>
                                              <td>Monthly 3000 invested in Sbi sip plan for Jeevan Anand</td>
                                              <td> <button class="btn btn-default upload-button"> UPLOAD</button></td>
                                          </tr>
                                          <tr class="content-row">
                                              <td>Roshan Rudra</td>
                                              <td>7</td>
                                              <td>M</td>
                                              <td>IV</td>
                                              <td> Vijay Sriramadas<br>Susmiths sreeramadas</td>
                                              <td>3rd class merit certificate</td>
                                              <td>1 Lak FD in SBI</td>
                                              <td>Monthly 3000 invested in Sbi sip plan for Jeevan Anand</td>
                                              <td> <button class="btn btn-default upload-button"> UPLOAD</button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content modal-align">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="col-12 modal-title text-center" style="color:#5a2727">Savings Calculator for Roushan
                  Rudra</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
              <div class="container">
                  <div class="row " style="border-bottom: 1px solid #e0d3d3;">
                      <div class="col-sm">
                      </div>
                      <div class="col-sm">
                          <p align="center" class="savings-calculator-p">SAVINGS CALCULATOR</p>
                      </div>
                      <div class="col-sm">
                      </div>
                  </div>
                  <br />
                  <div class="row">
                      <div class="col-sm">
                          <div class="container">
                              <div class="table-responsive">
                                  <table class="table table-bordered table-striped">
                                      <thead>
                                          <tr class="heading-row">
                                              <th>CHILD NAME</th>
                                              <th>AGE</th>
                                              <th>GENDER</th>
                                              <th>GRADE</th>
                                              <th>CURRENT SAVINGS DON(R)</th>
                                              <th>SAVINGS GOAL</th>
                                              <th>ANNUAL INTEREST %</th>
                                              <th>NUMBER OF YEARS</th>
                                              <th>COMPOUNDING</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr class="content-row">
                                              <td>Roshan Rudra</td>
                                              <td>7</td>
                                              <td>M</td>
                                              <td>IV</td>
                                              <td> 80000.00</td>
                                              <td>2500000.00</td>
                                              <td> 8.50</td>
                                              <td> 7</td>
                                              <td> Monthly</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm">
                              <div class="row">
                                  <div class="col-sm">
                                      <div>
                                          <label for="usr">Current Savings:</label>
                                          <input type="text" class="form-control" id="usr">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm">
                                      <div>
                                          <label for="usr">Monthly investment:</label>
                                          <input type="text" class="form-control" id="usr">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm">
                                      <div>
                                          <label for="usr">Annual interest %:</label>
                                          <input type="text" class="form-control" id="usr">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm">
                                      <div>
                                          <label for="usr">Compounding:</label>
                                          <select class="form-control" id="sel1">
                                              <option>Monthly</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm">
                                      <div>
                                          <label for="usr">Number of years:</label>
                                          <select class="form-control" id="sel1">
                                              <option>7</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm">
                              <div class="row">
                                  <div class="col-sm">
                                      <h4 class="headerinnermodal">With a monthly investment of 10,000 for 7
                                          years at an annual
                                          interest rate of 8.5%,
                                          you will save &#x20b9; 12,32,907
                                      </h4>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm">
                                      <div class="card">
                                          <div class="card-body">
                                              <div class="row">
                                                  <div class="col-sm">
                                                      <p class="card-content-p"> Cumulative Investment</p>
                                                  </div>
                                                  <div class="col-sm">
                                                      <p class="card-content-p"> &#x20b9;8,90,000</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm">
                                                      <p class="card-content-p"> Cumulative Interest</p>
                                                  </div>
                                                  <div class="col-sm">
                                                      <p class="card-content-p">&#x20b9;3,42,907</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm">
                              <img src="../../assets/images/homepic1.png" />
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<!-- Notifications -->
<script>
  document.getElementById('changepasswordid').style.display = "none";
  var shoechangepass = false;
  $('.dropdown-menu').on('click', function (e) {
      e.stopPropagation();
  });
  function changePassword() {
      if (shoechangepass == false) {
          shoechangepass = true
          document.getElementById('changepasswordid').style.display = "none";
      } else {
          shoechangepass = false
          document.getElementById('changepasswordid').style.display = "block";
      }


  }
</script>
