@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face{
    font-family: 'octagent-light';
    src: url(./assets/Fonts/octagen-light-ffp.ttf);
}

.login-font{
    font-family: 'octagent-light';
    font-size: 18px;
}

.signup-font{
    font-family: 'octagent-light';
    font-size: 18px !important;
}

* {
    outline: 0;
}


.top-right-wrap{margin-top:10px;}
.dropdown-toggle::after{border:0px;}
.dropdown-toggle{background:transparent !important;border:0px;font-weight:500 !important;}
.top_link{color:#4C2611;font-weight:500;margin:0px 5px 0px;font-size:16px;text-decoration:none;}
a.top_link:hover{color:#fff;text-decoration:none;}
.home-banner{background:url(./assets/images/homebanner.png);background-repeat:no-repeat;
background-size:cover;
background-position:center;height:416px;}
.banner-left-text{ position:relative;height:416px;}
.banner-left-text div{ position:absolute;
    bottom:-20px;
    right:0;}
.banner-right-text{position:relative;height:416px;}
.banner-right-text div{ position:absolute;
    bottom:-20px;
    right:0;}

/*Popup Form BOF*/
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 8px -2px;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  font-size:14px;
}
.icon {
    padding: 10px;
    background: #FEFAEE;
    color: #ccc;
    font-size:24px;
	width:40px;
    text-align: center;
	border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.input-field {
    width: 330px;
    padding: 10px;
    outline: none;
	    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.username-email{
    margin-bottom: 0px;
}

.add-class{
    padding-left: 15px;
}

.add-class-forgot-pass{
    padding: 10px 15px;
}

.frgt-pass{
    padding: 15px 0px 0px 0px;
    font-size: 18px;
}

.login-text{
    padding: 2px 0px 15px 0px;
    font-size: 19.98px;
}

.login-with-text{
    padding: 0px 0px 15px 0px;
    font-size: 19.98px;
}

.username-icon{
    border-bottom-left-radius:0px;
}

.username-input{
    border-bottom-right-radius: 0px;
    border-bottom-color: #fff;
}

.password-icon{
    border-top-left-radius:0px;
}

.password-input{
    border-top-right-radius: 0px;
}

.user-png{
    background: #fefaee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    border: solid 1px #ccc;
    border-right-color: #fff;
    border-bottom-color: #fff;
}
.pass-png{
    background: #fefaee;
    padding: 10px;
    border: solid 1px #ccc;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-color: #fff;
}

.mobile-png{
    background: #fefaee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    border: solid 1px #ccc;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.mobile-inputt{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 4px;
    border: solid 1px #ccc;
    border-bottom-color: #fff;
    font-size: 13px;
    line-height: 15px;
}

.date-inputt{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 0px;
    border: solid 1px #ccc;
    border-top-color: #ccc;
}

.checkdet{
    padding: 4px 15px !important;
}

.date-png{
    background: #fefaee;
    padding: 10px;
    border: solid 1px #ccc;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-color: #fff;
}

.mobile-input{
    margin-bottom: 0px;
}

.forgotpass-user-png{
    background: #fefaee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    border: solid 1px #ccc;
    border-right-color: #fff;
}
.pass-png{
    background: #fefaee;
    padding: 10px;
    border: solid 1px #ccc;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-color: #fff;
}

/* Set a style for the submit button */
.dropdown-menu.show{width:400px;}
.btn-login {
    background-color: #5A3D1D;
    color: white;
    padding: 5px 13px;
    border: none;
    cursor: pointer;margin-right:20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lg{
    padding: 4px 20px !important;
}
.fg-links{color:#997e7e;text-decoration:none;margin:10px 5px;}
.btn-fb{background: #517CC1;
    color: #f5f5f5;
    margin-bottom: 20px;
    padding: 0px;
    line-height: 1px;padding-right:10px;}
.btn-fb .fa{font-size: 18px;
    line-height: 30px;
    margin-right: 11px;
    border-right: 2px solid #4370BB;
    padding-left: 8px;
    padding-right: 8px;}

	.btn-google{background: #D84830;
    color: #f5f5f5;
    margin-bottom: 20px;
    padding: 0px;
    line-height: 1px;
    padding-right:10px;
    margin-left:14px;}
.btn-google .fa{font-size: 18px;
    line-height: 30px;
    margin-right: 11px;
    border-right: 2px solid #C4311D;
    padding-left: 8px;
    padding-right: 8px;}

.dropdown-toggle:hover{
    color: white;
}

.dropdown-menu{
    position: absolute;
    will-change: transform;
    border: none;
    border-radius: 15px;
    box-shadow: -1px 3px 5px #0000005c;
    top: 0px;
    left: 0px;
    transform: translate3d(-255px, 43px, 0px) !important;
}

.fa-caret-up{
    color: white;
    font-size: 40px;
    float: right;
    margin-top: -35px;
    margin-right: 104px;
}

.fa-mobile{
    font-size: 37px;
}



/*SignIn Popup EOF*/
@media only screen
and (max-device-width : 1024px)  {
.home-banner,.footer-block{background-size:contain;}
.banner-left-text div{bottom:0px;}
}

.invalid-feedbacks {
  /* display: none; */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
