<div class="page-wrapper">
    <app-admin-header></app-admin-header>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-content fade-in-up">
            <div class="row">
                <div class="col-lg-12">
                    <img src="/assets/images/college-bg.png" />
                </div>
            </div>
            <br>
            <div class="page-content fade-in-up">
                <div class="ibox col-lg-6">
                    <div class="ibox-head">
                        <div class="ibox-title">Institution Bank Details</div>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>Bank Name</td>
                                    <td>Dummy Bank</td>
                                </tr>
                                <tr>
                                    <td>Bank Branch Code</td>
                                    <td>Dummy code</td>
                                </tr>
                                <tr>
                                    <td>Bank Branch Address</td>
                                    <td>Dummy Address</td>
                                </tr>
                                <tr>
                                    <td>Account Name</td>
                                    <td>Dummy Name</td>
                                </tr>
                                <tr>
                                    <td>Account Number</td>
                                    <td>12345644569</td>
                                </tr>
                                <tr>
                                    <td>Bank Ifsc Code</td>
                                    <td>abv12365</td>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <button class="btn btn-success">Preview</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-info">Submit</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning">Edit</button>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            <!-- START PAGE CONTENT-->
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
